<h1>Detalle de la Compañia: <%= @company.name %></h1>


<h2>Deje su reclamo:</h2>
<%= form_with(model: [@company, @complain]) do |f| %>
<%= f.label :content %>
<%= f.text_field :content %>
<%= f.submit %>

<% end %>
<h2>Reclamos</h2>
<ul id="company_complain_list">
<% @company.complains.all.order("id DESC").each do |c| %>
<li><%= c.content  %> - <%= c.user.email %></li>

<% end %>
</ul>